# Compilação e Build do Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Configurações de IDEs (VS Code, IntelliJ, Eclipse)
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Variáveis de Ambiente e Arquivos de Logs
*.env
*.log

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
